# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2022 Oplus. All rights reserved.

#ifdef OPLUS_FEATURE_PMIC_MONITOR
source "drivers/soc/oplus/dfr/qcom/qcom_pmic_monitor/Kconfig"
#endif /* OPLUS_FEATURE_PMIC_MONITOR */



#ifdef OPLUS_FEATURE_QCOM_WATCHDOG
source "drivers/soc/oplus/dfr/qcom/qcom_watchdog/Kconfig"
#endif /* OPLUS_FEATURE_QCOM_WATCHDOG */




#ifdef OPLUS_FEATURE_SHUTDOWN_DETECT
source "drivers/soc/oplus/dfr/common/shutdown_detect/Kconfig"
#endif /* OPLUS_FEATURE_SHUTDOWN_DETECT */





#ifdef OPLUS_FEATURE_KEYEVENT_HANDLER
source "drivers/soc/oplus/dfr/common/keyevent_handler/Kconfig"
#endif /* OPLUS_FEATURE_KEYEVENT_HANDLER */

#ifdef OPLUS_FEATURE_COMBKEY_MONITOR
source "drivers/soc/oplus/dfr/common/combkey_monitor/Kconfig"
#endif /* OPLUS_FEATURE_COMBKEY_MONITOR */

#ifdef CONFIG_OPLUS_FEATURE_FAULT_INJECT
source "drivers/soc/oplus/dfr/fault_inject/Kconfig"
#endif /*CONFIG_OPLUS_FEATURE_FAULT_INJECT*/
